@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/daisyui/dist/full.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Meow+Script&family=Oooh+Baby&family=Pacifico&display=swap');

/* CSS HEX */
/* palette */
:root {
    --cerulean: #0081a7ff;
    --non-photo-blue: #a4ddedff;
    --seashell: #fff5eeff;
    --almond: #efdecdff;
    --amaranth-purple: #ab274fff;
}